.aimg {
	width: 160px;
	height: 100px
}

.headicon {
	width: 160px;
	height: 160px
}

.tagimg {
	width: 80px;
	height: 80px
}

.navPad {
	padding-top: 70px;
}

.loginTop {
	background: #0078d8
		url(//static.zhihu.com/static/img/201304_sign/light.png) center 0
		no-repeat
}

.center {
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
}