<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://10.0.16.16:4066/5606928835p_mysql_rr3m6orv?autoReconnect=true"></property>
		<property name="username" value="9lmGPgG7"></property>
		<property name="password" value="KDKEc5zo1bjD"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 下面这句话一定要写，不会自动生成。 -->
		<property name="packagesToScan" value="cn.edu.jmu.jyf.bean"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /><bean
		id="UserDAO" class="cn.edu.jmu.jyf.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
</bean>
	<bean id="BookmarkDAO" class="cn.edu.jmu.jyf.dao.BookmarkDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TagDAO" class="cn.edu.jmu.jyf.dao.TagDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LikeDAO" class="cn.edu.jmu.jyf.dao.LikeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdministratorDAO"
		class="cn.edu.jmu.jyf.dao.AdministratorDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ArticleDAO" class="cn.edu.jmu.jyf.dao.ArticleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="KeywordDAO" class="cn.edu.jmu.jyf.dao.KeywordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SpringContextUtil" class="cn.edu.jmu.jyf.util.SpringContextUtil"></bean>
	<bean id="InterestDAO" class="cn.edu.jmu.jyf.dao.InterestDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 需要在这里配置才能正确获取到context，scope设置为单例模式 -->
	<bean id="SpringContextUtil " class="cn.edu.jmu.jyf.util.SpringContextUtil" scope="singleton" /></beans>